.expense-list {
  display: flex;
  flex-direction: column;
}

.expense-list__alert {
  color: rgb(255, 72, 0);
  font-weight: 100;
}

.expense-list__header {
  color: rgb(255, 72, 0);
  font-weight: 200;
  font-size: 1.3rem;
  text-align: left;
}

.expense-list__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.expense-list__items:last-child {
  border-bottom: 1px solid rgb(196, 195, 195);
}
