.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;

  background-color: rgb(226, 226, 226);
  border-radius: 5px;
}

.item__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__value {
  display: inline-block;
  margin-right: 1rem;
}

.item__percentage {
  border-radius: 5px;
  background-color: lightyellow;
  padding: 0.5rem;
}
