.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 0.5rem 1rem;
  border: 1px rgb(196, 195, 195);
  border-style: ridge none;
  background-color: white;
}

.item:nth-child(even) {
  background-color: rgb(240, 239, 239);
  border: none;
}

.item:last-child {
  border-bottom: 1px rgb(196, 195, 195);
}

.item__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__value {
  display: inline-block;
  margin-right: 1rem;
  font-size: 120%;
}

.item__percentage {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(255, 159, 16);
  padding: 0.5rem;
  font-size: 70%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}
